:root {
  --border: 8px solid rgb(12, 169, 197);
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  padding: 0;
  width: 100%;
  display: flex;
}

h1 {
  width: 50%;
}

nav{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

li {
  padding: 10px;
}

.nav-items {
  display: flex;
  padding: 5px;

}

.hero-banner {
  display: flex;
  background-image: url(../images/02-hero-bg.jpg);
  height: 200px;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-banner h2 {
  background-color: aquamarine;
}

.page-section {
  margin: 20px 40px 0px 40px;
  padding-right: 10px;
  border-right: 5px solid black;
}

.container{
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 200px 1000px 200px;
  padding: 20px 100px 20px 10px;
  position: relative;
  left: -150px;
}

.work-grid {
  display: grid;
  padding: 10px 5px 5px 5px;
  border: 5px;
  margin: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 590px 200px 200px;
  grid-template-areas: 
  "surf surf"
  "led calc"
  "past run";
}

.about-info {
  padding: 25px 30px;
}


#surf {
  grid-area: surf;
  background-image: url(../images/02-portfolio-4.jpg);
  background-size: cover;
  border: var(--border);

}

#led {
  grid-area: led;
  background-image: url(../images/02-portfolio-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: var(--border);
}

#calc {
  grid-area: calc;
  background-image: url(../images/02-portfolio-2.jpg);
  background-size: cover;
  border: var(--border);
}

#past {
  grid-area: past;
  background-image: url(../images/02-portfolio-3.jpg);
  background-size: cover;
  border: var(--border);
}

#run {
  grid-area: run;
  background-image: url(../images/02-run-buddy.jpg);
  background-size: cover;
  border: var(--border);
}


main h2 {
  padding-left: 20px;
  display: flex;
  justify-content: flex-end;
  font-size:xx-large;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.contact {
  margin: 40px
}

.contact-list {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.contact-list li {
  color: rgb(79, 35, 161);
}

.sub-head {
  display: flex;
  position: relative;
  height: 50px;
  width: fit-content;
  font-size: xx-large;
  background-color: rgb(12, 169, 197);
  left: -8px;
  top: 100px;
}

.surf {
  top: 485px;
}